{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="str-login-block">
    <form method="post">
        {{ include('_aff_messages_info.html.twig') }}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                <p>Vous êtes connecté en tant que {{ app.user.username }}</p><a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <div class="str-login-input">
            <span>Identifiant :</span>
            <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" placeholder="Identifiant ..." required autofocus>
        </div>

        <div class="str-login-input">
            <span>Mot de passe :</span>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe ..." required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
        #}
        <div class="container">
            <div class="row str-row">
                <div class="col">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </div>

                <div class="col">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                    {#
                    <div class="str-forgot-password">
                        <label>
                            <a href="#">Mot de passe oublié</a>
                        </label>
                    </div>
                    #}
                    <div class="button">
                        <label>
                            <a href="{{ path('participant_new') }}">Créer un compte</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}
