{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="row">
            <div class="imgProfil col-lg-3 pt-5">
                {{ include('participant/_aff_photo_profil.html.twig') }}
            </div>
            <div class="profil col-lg-9">
            <h2 class="text-center">{{ participant.pseudo }}</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Prénom :</th>
                        <td>{{ participant.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Nom :</th>
                        <td>{{ participant.nom }}</td>
                    </tr>

                    <tr>
                        <th>Téléphone :</th>
                        <td>{{ participant.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Email :</th>
                        <td>{{ participant.mail }}</td>
                    </tr>
                    <tr>
                        <th>Ville de rattachement :</th>
                        <td>{{ participant.site.nom }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="text-center col-lg-12">
            <a href="{{ path('sortie_index') }}" class="btn btn-secondary"><i class="fa fa-reply"></i> Retour</a>
            </div>

        </div>
    </div>
{% endblock %}
