{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>
    <h2>Filtrer les sorties</h2>
    {{ form(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Duree(min)</th>
                <th>Inscription av le</th>
                <th>Nombre de participants</th>
                <th>Description</th>
                <th>Organisateur</th>
                <th>Lieu</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.datedebut ? sortie.datedebut|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.datecloture ? sortie.datecloture|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ sortie.nbinscriptionsmax }}</td>
                <td>{{ sortie.descriptioninfos }}</td>

                <td>{{ sortie.organisateur.getNom() }}</td>
                <td>{{ sortie.lieu.nom }}</td>
                <td>{{ sortie.etat }}</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Create new</a>
{% endblock %}
