{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}

    <div class="str-main-container">
        <h1>Liste des sorties</h1>
        {{  include('_aff_messages_info.html.twig') }}
        <div class="str-sortie-align-content-right">
            <a href="{{ path('sortie_new') }}" class=" btn btn-primary">Créer une nouvelle sortie</a>
        </div>
        <h2>Filtrer les sorties</h2>
        <div class="str-form-sortie">
            <div class="str-form-align-content-right">

                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                {{ form_row(form.site) }}
                                {{ form_row(form.nom) }}
                                {{ form_row(form.sortiesOrga) }}
                                {{ form_row(form.sortiesInsc) }}
                                {{ form_row(form.sortiesPasInsc) }}
                                {{ form_row(form.sortiesPass) }}
                            </div>
                            <div class="col str-form-sortie-right">
                                {{ form_row(form.date1) }}
                                {{ form_row(form.date2) }}
                            </div>
                        </div>
                    </div>

                <div class="str-button-rechercher">
                    {{ form_row(form.rechercher, { 'label': 'Rechercher' }) }}
                </div>


                {{ form_end(form) }}
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Duree(min)</th>
                    <th>Inscription av le</th>
                    <th>Nombre de participants</th>
                    <th>Description</th>
                    <th>Organisateur</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}

                {% if app.user is not same as (sortie.organisateur) and sortie.etat.id                                                   == 1 %}
                <tr style="display: none;">

                </tr>
                    {% else %}
                        <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.datedebut ? sortie.datedebut|date('d/m/Y H:i', 'Europe/Paris') : '' }}</td>
                        <td>{{ sortie.duree }}</td>
                        <td>{{ sortie.datecloture ? sortie.datecloture|date('d/m/Y H:i', 'Europe/Paris') : '' }}</td>
                        <td>{{ sortie.participants.count}}/{{ sortie.nbinscriptionsmax }}
                        {%  if sortie.participants.count >= sortie.nbinscriptionsmax %} complet{% endif%}</td>
                        <td>{{ sortie.descriptioninfos }}</td>
                        <td><a href="{{ path('participant_show', {'id': sortie.organisateur.id}) }}">
                            {{ sortie.organisateur.getNom() }}</a></td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{% if app.user in sortie.participants %} x</td>
                        {% endif %}
                        <td>
                            {#contrôle des états et user pour affichage conditionnel des actions#}
                            <a href="{{ path('sortie_show', {'id': sortie.id}) }}">afficher</a>
                            {% if app.user == sortie.organisateur and sortie.etat.libelle == "Créée" %}
                                <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">modifier</a>
                            {% endif %}
                            {% if app.user != sortie.organisateur and sortie.etat.libelle == "Ouverte" and sortie.participants.count < sortie.nbinscriptionsmax%}
                                {% if app.user in sortie.participants %}
                                    <a href="{{ path('sortie_insc', {'id': sortie.id}) }}">se désinscrire</a>
                                {% else %}
                                    <a href="{{ path('sortie_insc', {'id': sortie.id}) }}">s'inscrire</a>
                                {% endif %}
                            {% endif %}
                        </td>
                   {% endif %}
                </tr>

            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
